@charset "UTF-8";

html {
   min-height: 100vh;
   position: relative;
}

body {
   font-family: 'Montserrat', sans-serif;
   background-color: #CCC;
}

main {
   margin-bottom: 250px;
}

/* NAVBAR */
#logo {
   position: absolute;
   top: 10px;
   left: 9.5%;
}
#logo img {
   width: 50px;
}

#navbar {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #161616;
   padding: 20px;
}
#navbar li {
   margin: 0 10px;
   padding: 5px;
}
#navbar .nav-link {
   color: #FFF;
   text-decoration: none;
   transition: .5s;
   font-size: 14px;
}
#navbar .nav-link:hover {
   color: #999;
}

/* HOME */
#title-container {
   min-width: 500px;
   text-align: center;
   margin-top: 30px;
}
#title-container h1 {
   font-size: 50px;
}
#title-container p {
   margin-top: 10px;
   color: #999;
}

#posts-container {
   max-width: 1200px;
   margin: 0 auto;
   margin-top: 30px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 40px 140px;
}

.post-box:first-child {
   min-width: 100%;
}
.post-box {
   flex: 0 0 250px;
}
.post-box:first-child img{
   width: 100%;
}
.post-box img {
   width: 300px;
}
.post-box .post-title {
   font-size: 24px;
   margin: 10px 0;
   text-decoration: underline;
}
.post-box .post-title a {
   color: #000;
   transition: .5s;
}
.post-box .post-title a:hover {
   color: #999;
}
.post-box .post-description {
   color: #666;
}

.tags-container {
   margin-top: 10px;
}
.tags-container p {
   font-size: 14px;
   color: #333;
   display: inline-block;
   margin-right: 5px;
   text-decoration: underline;
}

/* POST */
#post-container {
   display: grid;
   grid-template-columns: 75% 25%;
   grid-template-rows: auto;
   grid-template-areas: "main sidebar";
   grid-gap: 10px;
   padding-top: 30px;
   max-width: 1200px;
   margin: 0 auto;
   margin-bottom: 250px;
}

.content-container {
   grid-area: main;
}

#main-title {
   font-size: 36px;
   margin-bottom: 30px;
}

#post-description {
   font-style: italic;
   margin-bottom: 40px;
}

.post-content {
   line-height: 1.8;
   margin: 10px 0;
}

.img-container {
   margin-bottom: 30px;
}

.img-container img {
   width: 60%;
}

/* POST ASIDE */
.nav-container {
   grid-area: sidebar;
}

#tags-title, #categories-title {
   font-size: 24px;
   margin-bottom: 10px;
   background-color: #000;
   color: #FFF;
   text-align: center;
   padding: 10px;
   font-weight: 300;
}

#tag-list li, #categories-list li {
   margin-bottom: 10px;
}
#tag-list li, #categories-list a {
   color: #666;
   transition: .5s;
   text-decoration: underline;
}
#tag-list li:hover, #categories-list a:hover {
   color: #000;
}

/* FOOTER */
footer {
   width: 100%;
   position: absolute;
   bottom: 0;
   text-align: center;
   background-color: #000;
   color: #FFF;
   padding: 50px 0;
}

footer .social_networks ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 20px;
}
footer .social_networks img {
   width: 50px;
   height: 50px;
   margin: 0 20px;
}

footer #my_page {
   margin-top: 5px;
}
footer #my_page a {
   color: #999;
   transition: .5s;
}
footer #my_page a:hover {
   color: #FFF;
   text-decoration: underline;
}

/* MOBILE */
@media(max-width: 480px) {

   /* HOME */
   header {
      width: 100%;
   }

   #logo {
      display: block;
      position: relative;
      margin: 0 auto;
      left: 0;
      width: 50px;
   }

   #navbar {
      display: none;
   }

   #title-container {
      min-width: 100%;
      margin-top: 20px;
   }

   #posts-container {
      margin-top: 20px;
   }

   .post-box {
      flex: 100% 1 0;
      padding: 15px;
      margin: 0;
   }

   /* POST */
   #post-container {
      grid-template-columns: 100%;
      padding: 15px;
      grid-template-areas: "main"
      "sidebar";
   }

   .img-container img {
      width: 100%;
   }
}

/* CATEGORIES.PHP, SOBRE.PHP, CONTATO.PHP */
#main-container {
   max-width: 1200px;
   margin: 0 auto;
   margin-top: 30px;
}
#main-container .info-categories {
   max-width: 800px;
   margin-bottom: 30px;

}
#main-container .info-categories p {
   word-spacing: 2px;
   line-height: 18px;
   margin-bottom: 10px;
}

#categories {
   margin: 0 0 300px 30px;
   display: inline-block;
}
#categories li {
   margin-bottom: 10px;
   list-style: circle;
}
#categories a {
   color: #666;
   transition: .5s;
   text-decoration: underline;
}
#categories li:hover {
   list-style: disc;
}
#categories a:hover {
   color: #000;
}

/* CATEGORY.PHP */
#category-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-evenly;
}

.category-box {
   flex: 0 0 250px;
   margin: 30px;
}
.category-box img, .category-box h2, .tags-container {
   width: 250px;
   margin: 5px;
}


.category-box .category-title {
   font-size: 20px;
   text-decoration: underline;
}
.category-box .category-title a {
   color: #000;
   transition: .5s;
}
.category-box .category-title a:hover {
   color: #999;
}
.category-box .category-description {
   text-align: justify;
   color: #666;
}

.tags-container {
   margin-top: 10px;
}
.tags-container p {
   font-size: 14px;
   color: #333;
   display: inline;
   text-decoration: underline;
   margin-right: 2px;
}
